.DS_Store
*~

/*.pkg
/*.zip
/*.tar.gz
/dist

/*.xcodeproj
xcuserdata/
DerivedData/
/Build
/build

/tools/autorevision.sh
autorevision.swift

/.build
/Packages
Package.resolved
Package.pins
.swiftpm
#.swiftpm/config/registries.json
#.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

.vscode
.brew_home
